---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: aws-ssm-parameter-store-default
spec:
  provider:
    aws:
      service: ParameterStore
      region: "{{ .Values.awsSsmRegion }}"
      auth:
        secretRef:
          accessKeyIDSecretRef:
            name: aws-iam-user-k8s-{{ .Values.clusterName }}
            key: access-key
            namespace: "{{ .Release.Namespace }}"
          secretAccessKeySecretRef:
            name: aws-iam-user-k8s-{{ .Values.clusterName }}
            key: secret-access-key
            namespace: "{{ .Release.Namespace }}"
