apiVersion: v2
name: ingress-nginx
description: A Helm chart with ingress-nginx as subchart
type: application
version: 1.1.1

maintainers:
  - name: komailo
    url: https://github.com/komailo/helm-charts
sources:
  - https://github.com/komailo/helm-charts
dependencies:
  - name: ingress-nginx
    version: ">=4.11.2"
    repository: https://kubernetes.github.io/ingress-nginx
    alias: ingress-nginx
    condition: ingress-nginx.enabled
