{{- range $appName, $app := .Values.apps }}
{{- if $app.enabled | default true }}
{{- $ports := $app.ports }}
{{- if not $ports }}
{{- $ports = list (dict "name" "http" "containerPort" 80 "protocol" "TCP") }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $appName }}
  namespace: {{ $.Release.Namespace }}
spec:
  replicas: {{ $app.replicas | default 1 }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ $appName }}
  template:
    metadata:
      labels:
        app: {{ $appName }}
    spec:
      containers:
        - image: "{{ $app.image.repository }}:{{ $app.image.tag | default "latest" }}"
          name: {{ $appName }}
          ports:
{{- range $port := $ports }}
{{- $containerPort := default 80 $port.containerPort }}
{{- $portName := default (printf "%s-%d" $appName $containerPort) $port.name }}
{{- $protocol := default "TCP" $port.protocol }}
            - containerPort: {{ $containerPort }}
              name: {{ $portName }}
              protocol: {{ $protocol }}
{{- end }}
{{- end }}
{{- end }}
