apiVersion: v2
name: argocd-avp-secrets
description: A Helm chart for managing external secrets for AVP use in ArgoCD
type: application
version: 1.3.1

maintainers:
  - name: komailo
    url: https://github.com/komailo/helm-charts
sources:
  - https://github.com/komailo/helm-charts

dependencies:
  - name: external-secrets-manager
    version: "1.0.2"
    repository: https://komailo.github.io/helm-charts
    condition: external-secrets-manager.enabled
    alias: esm
