apiVersion: v2
name: cert-manager
description: A Helm chart with cert-manager as subchart
type: application
version: 1.8.0
maintainers:
  - name: komailo
    url: https://github.com/komailo/helm-charts
sources:
  - https://github.com/komailo/helm-charts
dependencies:
  - name: cert-manager
    version: v1.19.2
    repository: https://charts.jetstack.io
    alias: cert-manager
    condition: cert-manager.enabled
  - name: external-secrets-manager
    version: "1.2.0"
    repository: https://komailo.github.io/helm-charts
    condition: external-secrets-manager.enabled
    alias: esm
