name: Chart Lint and Test
on: pull_request

permissions:
  contents: read

jobs:
  ## Reference: https://artifacthub.io/docs/topics/cli/
  artifacthub-lint:
    runs-on: ubuntu-24.04
    container:
      image: artifacthub/ah@sha256:d7ac104523deaf309d3cbe0b6fd31ff636ad4ec28323a6e922af7940a3d60bf8
      options: --user root
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Run ah lint
        working-directory: ./charts
        run: ah lint

  ## Reference: https://github.com/helm/chart-testing-action
  helm-chart-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.16.2

      - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5
        with:
          python-version: "3.x"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed) for lint
        id: lint-list-changed
        run: |
          changed=$(ct list-changed --config ./.github/configs/ct-lint.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (list-changed) for install
        id: install-list-changed
        run: |
          changed=$(ct list-changed --config ./.github/configs/ct-install.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.lint-list-changed.outputs.changed == 'true'
        run: ct lint --config ./.github/configs/ct-lint.yaml

      - name: Create kind cluster
        if: steps.install-list-changed.outputs.changed == 'true'
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Run chart-testing (install)
        if: steps.install-list-changed.outputs.changed == 'true'
        run: |
          # we remove the dependencies to avoid conflict with the previous lint step building the dependencies
          rm -rf charts/*/charts
          rm -rf charts/*/Chart.lock
          ct install --config ./.github/configs/ct-install.yaml
