name: Renovate
on:
  schedule:
    - cron: "15 * * * *"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: get_token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@03026bd55840025343414baec5d9337c5f9c7ea7 # v44.0.4
        with:
          configurationFile: .github/configs/renovate.js
          renovate-version: 38.141.1
          token: "${{ steps.get_token.outputs.token }}"
        env:
          LOG_LEVEL: "debug"
          RENOVATE_REPOSITORIES: "${{ github.repository }}"
